<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains"
          src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/mbYQLLluS651W89jO7MOZcLSCUw.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Avatar: O Caminho da Água (2022)</h1>
          <p>15/12/2022 (BR) - 3h 12m</p>
          <p>Ficção científica, Aventura, Ação</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>76%</ion-label>
      </ion-chip>

    </ion-item>
  </ion-list>

</ion-content>
